.img-circle {
    border-radius: 50%;
}
body {
    background-color: #6e6e6e;
}
.image {
	margin: auto;
    width: 50%;
    padding: 10px;
	text-align: center;
}
.caption {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.intro {
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-style: italic;
}
.introduction {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-decoration: underline;
}
.name {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;

}