.img-circle {
    
    border:5px solid #000000;
	border-radius: 50%;
    
}
.ImageandCaption {
	margin-right:2%;
	float: right;

}
body {
    background-color: #ffffff;
}
.TitleImage {
	width:100%;
    height:auto;
    padding:1%;
	text-align: center;
}
.caption {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.intro {
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-style: italic;
}
.introduction {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	
}
.nameUtsav {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-align: center;
	

}
.introdiv {

}